#INformation to sent E-mail
EMAIL_HOST=
EMAIL_PORT=

EMAIL_USERNAME=
EMAIL_PASSWORD=
# App Password من Google (ماشي كلمة السر العادية)
# تجيبيها من:
# Google Account → Security → 2-Step Verification → App passwords
NGROK_URL=
PORT=
NODE_ENV=
# data base info
DB_HOST=
DB_NAME=
DB_USER=
DB_PASSWORD=
DB_PORT=
JWT_SECRET=
JWT_EXPIRES_IN=